.footer {
    text-align: end ;
    background-color: black;
    color: white;

}

@media (max-width: 760px){
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
footer {
    min-height: 10vh;
    background-color: #1b1919!important;
}

.botones-footer {
    color: rgb(19, 105, 218);
}

@media (max-width: 400px){
    .derechos {
        font-size: 1rem;
    }
}
@media (max-width: 425px){
    .botones-logos-texto {
        padding: 1rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 425px){
    .redes {
        padding: inherit;
    }
}