/* From uiverse.io by @alexruix */
.card {
    --background: linear-gradient(to left, #2b3ff7 0%, #2b1b74 100%);
    width: 300px;
    height: 400px;
    padding: 5px;
    border-radius: 1rem;
    overflow: visible;
    background: #1719a3;
    background: var(--background);
    position: relative;
    z-index: 1;
}

.card::after {
    position: absolute;
    content: "";
    top: 30px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(0.8);
    filter: blur(25px);
    background: #2b39f7;
    background: var(--background);
    transition: opacity .5s;
}

.card-info1 {
    margin-bottom: 2rem;
    --color: #e6e6e6;
    background: var(--color);
    color: var(--color);
    background-image: url(../image/logoMyTinerary.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: visible;
    border-radius: .7rem;

}

.title {
    color: black;
    font-size: 1.5rem;
    text-align: center;
    -webkit-text-stroke: 1px #000000;
}

.card-info2 {
    margin-bottom: 2rem;
    --color: #181818;
    background: var(--color);
    color: var(--color);
    background-image: url(../image/MyIndustrial.PNG);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: visible;
    border-radius: .7rem;
}

.card-info3 {
    margin-bottom: 2rem;
    --color: #181818;
    background: var(--color);
    color: var(--color);
    background-image: url(../image/amazing.PNG);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: visible;
    border-radius: .7rem;
}

.card-info4 {
    margin-bottom: 2rem;
    --color: #181818;
    background: var(--color);
    color: var(--color);
    background-image: url(../image/mindy.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: visible;
    border-radius: .7rem;
}

.card .title {
    font-weight: bold;
    letter-spacing: .1em;
}

/*Hover*/
.card:hover::after {
    opacity: 0;
}

.card:hover .card-info1 {
    color: #fff;
    transition: color 1s;
}

.card:hover .card-info2 {
    color: #fff;
    transition: color 1s;
}

.card:hover .card-info3 {
    color: #fff;
    transition: color 1s;
}

.card:hover .card-info4 {
    color: #fff;
    transition: color 1s;
}



/* From uiverse.io by @alexruix */
/*Magic card*/
.card2 {
    width: 190px;
    height: 254px;
    background: #f5f5f5;
    overflow: visible;
    box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card2-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 0 1rem;
}

.card2-img {
    --size: 100px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    transform: translateY(-50%);
    background: #42caff;
    background: linear-gradient(to bottom, #42caff 0%, #e81aff 100%);
    position: relative;
    transition: all .3s ease-in-out;
}

.card2-img::before {
    content: "";
    border-radius: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%, -50%);
    border: 1rem solid #e8e8e8;
}

/*Text*/
.text-title {
    text-transform: uppercase;
    font-size: 0.75em;
    color: #42caff;
    letter-spacing: 0.05rem;
}

.text-body {
    font-size: .8em;
    text-align: center;
    color: #6f6d78;
    font-weight: 400;
    font-style: italic;
}

/*Hover*/
.card2:hover .card2-img {
    --size: 110px;
    width: var(--size);
    height: var(--size);
}

/* From uiverse.io by @alexmaracinaru */
.cta {
    margin-top: 2rem;
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: #b1dae7;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
}

/* From uiverse.io by @adamgiebl */
.cssbuttons-io {
    position: relative;
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    border-radius: 0.8em;
    border: none;
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    color: ghostwhite;
    overflow: hidden;
}

.cssbuttons-io svg {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5em;
}

.cssbuttons-io span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
}

.cssbuttons-io::before,
.cssbuttons-io::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.cssbuttons-io::before {
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io:hover::before {
    transform: translate3d(100%, 0, 0);
}

.cssbuttons-io:active {
    transform: scale(0.95);
}





* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background: #161616;
	min-height: 100vh;
}

section::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#DA22FF, #9733EE);
	clip-path: circle(30% at right 70%);
}

section::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#E55D87, #5FC3E4);
	clip-path: circle(20% at 10% 10%);
}

.container {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 40px 0;
}

.container .card {
	position: relative;
	width: 300px;
	height: 400px;
	background: rgba(255, 255, 255, 0.05);
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}

.container .card .content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}

.container .card:hover .content {
	transform: translateY(-20px);
}

.container .card .content .imgBx {
	position: relative;
	width: 150px;
	height: 150px;
	overflow: hidden;
}

.container .card .content .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container .card .content .contentBx h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
}

.container .card .content .contentBx h3 span {
	font-size: 12px;
	font-weight: 300;
	text-transform: initial;
}

.container .card .sci {
	position: absolute;
	bottom: 50px;
	display: flex;
}

.container .card .sci li {
	list-style: none;
	margin: 0 10px;
	transform: translateY(40px);
	transition: 0.5s;
	opacity: 0;
}

.container .card:hover .sci li {
	transform: translateY(0px);
	opacity: 1;
}

.container .card .sci li a {
	color: #fff;
	font-size: 20px;
}