.tech-container {
    min-height: 30vh;
    background: linear-gradient(-45deg, #000000, #3c80e7, #042180, #000000);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display: flex;
    vertical-align: center;
    align-items: center;
    padding: 30px 0 30px 0;

}

.tech-title {
    color: #fff;
    width: 40%;
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
    padding: 0 100px 0 40px;
}

.img-container {
    width: 55%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.img-container>img {
    height: 5rem;
}

@media screen and (max-width: 960px) {
    .tech-container {
        flex-direction: column;
        height: 600px;
    }

    .img-container {
        width: 70%;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .img-container>img {
        height: 5rem;
        margin: 1rem;
    }

    .tech-title {
        width: 100%;
        text-align: center;
        padding: 0;
    }

}

@media screen and (max-width:1030px) {
    .tech-container {
        height: 700px;
    }
}

@media screen and (max-width:770px) {
    .img-container {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .tech-container {
        height: 500px;
    }

    .tech-title {
        font-size: 18px;
    }

    .img-container>img {
        height: 3.5rem;
        margin: .5rem;
    }
}

@media screen and (max-width: 430px) {
    .tech-container {
        height: 600px;
    }
}