body, h1, h2, h3, h4, h5, h6, p, a, span, div {
    font-family: 'Bree Serif', serif;
}

h1, .tech-title h1 {
    font-size: 2.5rem;
    color: var(--color-primary);
    text-align: center;
    margin-bottom: 1rem;
}

.tech-container {
    min-height: 50vh;
    background: linear-gradient(-45deg, #127083, #3c80e7, #000000, #212529);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display: flex;
    vertical-align: center;
    align-items: center;
    padding: 2rem;
    background-color: var(--color-bg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tech-title {
    color: #fff;
    width: 40%;
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
    padding: 0 100px 0 40px;
}

.img-container {
    width: 50%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.img-container>img {
    height: 5rem;
}

@media screen and (max-width: 960px) {
    .tech-container {
        flex-direction: column;
        height: 600px;
    }

    .img-container {
        width: 70%;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .img-container>img {
        height: 5rem;
        margin: 1rem;
    }

    .tech-title {
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .img-container {
    justify-content: center;
}

}

@media screen and (max-width:1030px) {
    .tech-container {
        height: 700px;
    }
}

@media screen and (max-width:770px) {
    .img-container {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .tech-container {
        height: 500px;
    }

    .tech-title {
        font-size: 18px;
    }

    .img-container>img {
        height: 3.5rem;
        margin: .5rem;
    }
}

@media screen and (max-width: 430px) {
    .tech-container {
        height: 600px;
    }
}